body {
	background: black;
}
p {
	color: white;
}
h1 {
	color: white;
	font-size: 20px;
	position: absolute;
	left: 50%;
	top: 10%;
	-webkit-transform: translate(-10%, -50%);
	transform: translate(-10%, -50%);
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}